* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body nav {
  background-color: white;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
}
body nav ul li a:hover {
  color: rgb(54, 212, 138);
}
body main section.main-area {
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  flex-basis: 450px;
  padding: 1rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1rem;
}
body main section.main-area div.info a {
  color: white;
  background-color: rgb(54, 212, 138);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  display: inline-block;
  margin: 2rem 0;
  text-decoration: none;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.2);
}
body main section.main-area div.img-area {
  flex-basis: 500px;
}
body main section.main-area div.img-area img {
  width: 100%;
}
body main section.about-me {
  background-color: rgb(202, 248, 223);
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
}
body main section.about-me section.description {
  width: 50%;
}
body main section.about-me section.description div.progress {
  border: 1px cadetblue solid;
}
body main section.about-me section.description h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
body main section.about-me section.description .skill-descriptions {
  margin: 0.5rem 0;
}
body main section.about-me section.description .skill-descriptions .skill-description {
  display: flex;
  flex-wrap: nowrap;
}
body main section.about-me section.description .skill-descriptions .skill-description .skill-main-title {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.about-me section.description .skill-descriptions .skill-description .skill-main-title h3 {
  font-size: 1.25rem;
  display: inline;
  margin: 0;
  padding: 0.2rem;
  background-color: rgba(177, 255, 229, 0.8);
  border-radius: 20px;
}
body main section.about-me section.description .skill-descriptions .skill-description .skill-more-information {
  flex: 1 1 400px;
  display: flex;
  align-items: center;
}
body main section.about-me section.description .skill-descriptions .skill-description .skill-more-information p {
  display: inline-block;
  margin: 0.5rem;
}
body main section.about-me section.description .my-skills-group {
  text-align: center;
  margin: 1rem 0;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
body main section.resume section.table {
  display: flex;
  margin: 0 0;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex: 8 1 600px;
}
body main section.resume section.table table {
  border-collapse: collapse;
}
body main section.resume section.table table tr {
  --bs-table-bg: none;
  border-bottom: 2px solid gray;
  transition: all 0.2s ease-out;
}
body main section.resume section.table table tr:hover {
  background-color: rgb(202, 248, 223);
}
body main section.resume section.table table td {
  padding: 1rem;
}
body main section.resume section.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2 1 500px;
  position: relative;
  padding: 2rem 0rem;
}
body main section.resume section.picture img {
  width: 90%;
  position: relative;
  z-index: 5;
}
body main section.resume section.picture div.greenRect1 {
  width: 30vw;
  height: 90vh;
  border: 10px solid rgb(202, 248, 223);
  transform: rotate(-90deg) translate(-50%, 0);
  position: absolute;
  z-index: -1;
}
body main section.resume section.picture div.greenRect2 {
  width: 10vw;
  height: 120vh;
  border: 10px solid rgb(202, 248, 223);
  transform: rotate(-90deg) translate(10%, -30%);
  position: absolute;
  z-index: -1;
}
body main section.resume section.picture div.greenRect3 {
  width: 10vw;
  height: 70vh;
  border: 10px solid rgb(202, 248, 223);
  transform: translate(-190%, 10%);
  position: absolute;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */