<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>錯誤頁面</title>
    <meta name="author" content="Onini" />
  </head>
  <body>
    <ul>
      <li>訊息:<%=e.message%></li>
      <li>原因:<%=e.reason%></li>
    </ul>
  </body>
</html>
