<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增學生</title>
    <meta name="author" content="Onini" />
    <style>
      h1 {
        position: fixed;
        left: 50%;
        top: 10vh;
        transform: translate(-50%, 0%);
      }
      tr,
      td,
      table {
        border-collapse: collapse;
        /* border: 2px black solid; */
        padding: 1rem;
      }
      table {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
      }
      button {
        position: absolute;
        left: 50%;
        bottom: 30%;
      }
    </style>
  </head>
  <body>
    <h1>新增學生資料</h1>
    <form action="/students" method="post">
      <table>
        <tr>
          <td><label for="student-name">姓名</label></td>
          <td><input type="text" id="student-name" name="name" /></td>
        </tr>
        <tr>
          <td><label for="student-age">年齡</label></td>
          <td><input type="text" id="student-age" name="age" /></td>
        </tr>
        <tr>
          <td><label for="student-major">主修</label></td>
          <td><input type="text" id="student-major" name="major" /></td>
        </tr>
        <tr>
          <td><label for="student-merit">merit</label></td>
          <td><input type="text" id="student-merit" name="merit" /></td>
        </tr>
        <tr>
          <td><label for="student-other">other</label></td>
          <td><input type="text" id="student-other" name="other" /></td>
        </tr>
      </table>
      <button type="input">送出表單</button>
    </form>
  </body>
</html>
