* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DFkai-sb, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header div.top {
  padding: 1rem;
  background-image: url(./images/background.png);
  /* background-position: bottom; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

header div.top h1 {
  font-size: 2.5rem;
}
header div.top h3 {
  font-size: 1rem;
}
header nav {
  background-color: black;
}
header nav ul {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: start; */
  list-style: none;
}
header nav ul li {
  padding: 0.8rem 1.2rem;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.25rem;
}
nav ul li a:hover {
  color: yellow;
  transition: all 0.4s ease-in;
}
.active {
  color: yellow;
}
section.left {
  margin-right: 3rem;
}
section.left {
  margin-right: 3rem;
}
section.left table {
  margin-top: 1rem;
}
section.left > figure {
  width: 250px;
}
section.left > figure > img {
  max-width: 100%;
  height: auto;
}
section.left > figure > img.vertical-expand {
  max-width: none; /* 移除最大寬度限制 */
}

section.right {
  margin-top: 1rem;
}
hr {
  margin: 0.5rem 0rem;
}
section.right ul {
  margin-top: 1rem;
}
section.right li {
  margin-left: 2rem;
  /* overflow-wrap: break-word; */
}

section.right {
  flex-basis: 500px;
  flex-grow: 5;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main h3 {
  margin: 1rem 0rem;
}
main section {
}
