<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="author" content="Onini" />
  </head>
  <body>
    <h1>資料已經蒐集成功</h1>
    <h3>以下是提交的資料內容</h3>
    <p>名稱為: <%=name%></p>
    <p>年齡為: <%=age%></p>
  </body>
</html>
