* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  main {
    section.cal-Area {
      position: relative;
      border: 2px blue solid;
      height: 80vh;
      width: 90vw;
      left: 2rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      form {
        border: gray 2px solid;
        width: 70%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        section.yoichi-block-title {
          margin-top: 1rem;
        }
        section.yoichi-block {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          //   justify-content: space-between;
          flex-wrap: nowrap;

          .yoichi-p-name {
            // border: 2px rgb(145, 241, 149) solid;
            color: red;
            text-align: center;
            flex-grow: 1;
            flex-basis: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              margin: 0;
            }
          }
          .yoichi-p-number {
            flex-grow: 1;
            flex-basis: 5%;
            text-align: center;
          }
          input[type="text"] {
            width: 10%;
          }
          .yoichi-p-btns {
            flex-grow: 1;
            flex-basis: 70%;
            text-align: center;
            display: flex;
            justify-content: space-around;

            div {
              // border: yellow 2px solid;
              //   border-radius: %;
              flex-basis: 15%;
              button {
                width: 100%;
                font-weight: 500;
              }
            }
          }
        }
      }
      section.totalize {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        border: red solid 2px;
        .yoichi-order {
          display: flex;
          flex-basis: 15%;
          .yoichi-orderNumber {
            &::before {
              content: "No.";
            }
          }
          .yoichi-orderTime {
            border: yellow solid 2px;
            flex-basis: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin: 0;
            }
          }
          .yoichi-orderNumber {
            border: green solid 2px;
            flex-basis: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin: 0;
            }
          }
        }
        .yoichi-calculating {
          margin-top: 2rem;
          border: springgreen solid 2px;
          flex-basis: 50%;
          display: flex;
          flex-direction: column;
          .yoichi-subtotalArea {
            flex-basis: 30%;
            // border: black solid 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            .yoichi-subtotal {
              flex-basis: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
              }
            }
            .yoichi-subtotalValue {
              flex-basis: 65%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
              }
            }
          }
          .yoichi-discountArea {
            flex-basis: 30%;
            // border: pink solid 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            .yoichi-discount {
              flex-basis: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
              }
            }
            input[type="text"] {
              width: 50%;
              border-bottom: 2px solid black;
            }
            .yoichi-discountValue {
              flex-basis: 65%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .yoichi-totalArea {
            // border: red solid 2px;
            display: flex;
            flex-basis: 40%;
            .yoichi-total {
              flex-basis: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
              }
            }
            .yoichi-totalValue {
              flex-basis: 65%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
              }
            }
          }
        }
        .yoichi-split {
          border: brown solid 2px;
          flex: 35%;
          display: flex;
          justify-content: center;
          align-items: center;
          .yoichi-tiptool {
            border: chartreuse solid 2px;
            flex-basis: 35%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            p {
              margin: 0;
            }
            .yoichi-deprecatedBtn {
              height: 80%;
              width: 70%;
              border-radius: 5%;
              &:active {
                transform: translateY(1px); /* 向下移動 2px，模擬按下效果 */
                // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 添加一點陰影效果 */
                box-shadow: -1px 0px 5px 1px #61f477;
              }
            }
          }
          .yoichi-generate {
            border: green solid 2px;
            flex-basis: 65%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            button {
              height: 80%;
              width: 80%;
              // background-color: ;
            }
          }
        }
      }
    }
    section.presentation-Area {
      position: relative;
      border: 2px blue solid;
      height: 95vh;
      width: 90vw;
      left: 2rem;
      margin-top: 4rem;

      display: flex;
      flex-wrap: nowrap;

      overflow-x: auto; /* 水平溢出滾動 */

      .yoichi-order-shown {
        border: 2px red solid;
        height: 100%;

        display: flex;
        flex-basis: 25%;
        flex-shrink: 0;
        div.yoichi-card {
          border: 2px green solid;
          width: 100%;
          display: flex;
          flex-direction: column;
          div.yoichi-card-time-number {
            border: goldenrod 2px solid;
            flex-basis: 10%;
            width: 100%;
            display: flex;

            justify-content: center;
            align-items: center;
            div.order-time {
              width: 50%;
              height: 100%;
              border: darkorange 2px solid;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              p {
                padding: 0;
                margin: 0;
              }
            }
            div.order-number {
              width: 50%;
              height: 100%;
              border: steelblue 2px solid;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              p {
                padding: 0;
                margin: 0;

                &.with-notation::before {
                  content: "No.";
                }
              }
            }
          }
          .yoichi-card-order-detail {
            border: palevioletred 3px solid;
            height: 10%;
            width: 100%;
            display: flex;
            flex-basis: 75%;
            flex-direction: column;
            overflow: auto;
            .order-detail {
              border: black 3px solid;
              height: 10%;
              display: flex;

              div.order-p-name {
                border: black 3px solid;
                flex-basis: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                  padding: 0;
                  margin: 0;
                }
              }
              div.order-p-number {
                border: black 2px solid;
                text-align: center;
                flex-basis: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }
          div.yoichi-card-bottom {
            border: 3px black solid;
            flex-basis: 15%;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            div.order-total-price {
              height: 100%;
              flex-basis: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                padding: 0;
                margin: 0;
                &::after {
                  content: "元";
                }
              }
            }
            div.order-buttonMotion {
              flex-basis: 50%;
              display: flex;
              height: 100%;
              justify-content: center;
              align-items: center;
              p {
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .successSend,
  .noSend {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: fit-content;
  }
  footer {
    position: relative;
    display: block;
    width: fit-content;
    left: 50vw;

    transform: translate(-50%, 0%);
  }
}

aside.floating-element {
  // border: red solid 2px;
  border-radius: 50%;
  position: fixed;
  height: 3rem;
  width: 3rem;
  font-size: 1.75rem;
  right: 1rem;
  top: 50vh;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
  }
}
.popover-header {
  text-align: center;
}
.popover-body {
  position: relative;

  width: 10rem;
  padding: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .fulfillOrder {
    flex-basis: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 0 0 0 12%;
    margin-bottom: 1px;

    button {
      border-radius: 0 0 0 12%;
      height: 100%;
      width: 100%;
      &:active {
        transform: translateY(1px); /* 向下移動 1px，模擬按下效果 */
        box-shadow: 0px 0px 5px 0px #61f477;
      }
    }
  }
  .reviseOrder {
    flex-basis: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 1px;

    button {
      height: 100%;
      width: 100%;

      &:active {
        transform: translateY(1px); /* 向下移動 2px，模擬按下效果 */
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 添加一點陰影效果 */
        box-shadow: -1px 0px 5px 1px #61f477;
      }
    }
  }
  .paidOrder {
    flex-basis: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 0 0 12% 0;
    margin-bottom: 1px;
    button {
      border-radius: 0 0 12% 0;
      height: 100%;
      width: 100%;
      &:active {
        transform: translateY(1px); /* 向下移動 2px，模擬按下效果 */
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 添加一點陰影效果 */
        box-shadow: 0px 0px 5px 0px #61f477;
      }
    }
  }
}

@keyframes opacityTransitions {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
