<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>成功創建</title>
    <meta name="author" content="Onini" />
    <style>
      h1 {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
      }
      h2 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
      }
    </style>
  </head>
  <body>
    <h1>創建成功</h1>
    <h2>前往觀看: <a href="/students/<%=result._id%>"> GO</a></h2>
  </body>
</html>
