<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoichi</title>
    <meta name="author" content="Onini" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a
          class="flex-sm-fill text-sm-center nav-link active"
          aria-current="page"
          href="#"
          >工作區</a
        >
        <a class="flex-sm-fill text-sm-center nav-link" href="#">歷史紀錄</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="./edit"
          >功能編輯</a
        >
        <a
          class="flex-sm-fill text-sm-center nav-link disabled"
          aria-disabled="true"
          href="#"
          >會員專區</a
        >
      </nav>
    </header>
    <main>
      <!-- <div class="modal-dialog modal-xl">...</div> -->
      <!-- <div class="modal-dialog modal-dialog-scrollable">...</div> -->
      <section class="cal-Area">
        <form action="">
          <section class="yoichi-block yoichi-block-title">
            <div class="yoichi-p-name">商品名稱</div>
            <div class="yoichi-p-number">數量</div>
            <div class="yoichi-p-btns">操作</div>
          </section>
          <!-- <section class="yoichi-block yoichi-block-items">
            <label class="yoichi-p-name" for="yoichi-product-0">
              <p>香腸</p></label
            >
            <input
              class="yoichi-p-number"
              type="text"
              id="yoichi-product-0"
              name="yoichi-product-0"
            />
            <div class="yoichi-p-btns">
              <div class="y-p-b-5">
                <button type="button" class="btn btn-info">5</button>
              </div>
              <div class="y-p-b-4">
                <button type="button" class="btn btn-info">4</button>
              </div>
              <div class="y-p-b-3">
                <button type="button" class="btn btn-info">3</button>
              </div>
              <div class="y-p-b-2">
                <button type="button" class="btn btn-info">2</button>
              </div>
              <div class="y-p-b-1">
                <button type="button" class="btn btn-info">+</button>
              </div>
              <div class="y-p-b-minus-1">
                <button type="button" class="btn btn-info">-</button>
              </div>
            </div>
          </section> -->
        </form>
        <section class="totalize">
          <div class="yoichi-order">
            <div class="yoichi-orderTime"><p>18:20:22</p></div>
            <div class="yoichi-orderNumber"><p>No.110</p></div>
          </div>
          <div class="yoichi-calculating">
            <div class="yoichi-subtotalArea">
              <div class="yoichi-subtotal"><p>小記</p></div>
              <div class="yoichi-subtotalValue"></div>
            </div>
            <div class="yoichi-discountArea">
              <div class="yoichi-discount"><p>折扣</p></div>
              <div class="yoichi-discountValue"></div>
            </div>
            <div class="yoichi-totalArea">
              <div class="yoichi-total"><p>總價</p></div>
              <div class="yoichi-totalValue"></div>
            </div>
          </div>
          <div class="yoichi-split">
            <div class="yoichi-revise"><p>模擬鎖</p></div>
            <div class="yoichi-generate">
              <button class="yoichi-order-send btn btn-secondary">送出</button>
            </div>
          </div>
        </section>
      </section>
    </main>
    <aside class="floating-element">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#Modal-add-product"
      >
        +
      </button>
    </aside>

    <script src="./app.js"></script>
  </body>
</html>
