/* ------------------ 使用 text-align ----------------- */
h1 {
  text-align: center;
}

p {
  text-align: center;
}

/* ------------------ 使用 text-align (table cell) ----------------- */
table,
tr,
th,
td {
  border: 1px #ed5151 solid;
  border-collapse: collapse;
  text-align: center;
}

/* ----- 對 <a> 使用text-align無效 因為不是block elem \ table cell ------ */

/* -------------------------- <a>  = inline elem ------------------ */
a {
  text-align: right;
}
/* ------------------ <a>  讓超連結的底線消失 /貫穿文字 ---------------- */

a {
  text-decoration: none;
}
a {
  text-decoration: line-through;
}
/* ------------------ 使用 letter-spacing ----------------- */

p {
  letter-spacing: 5px;
}
/* ------------------ 使用 line-height ----------------- */

p {
  line-height: 50px;
}
