* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
  nav {
    background-color: white;
    position: sticky;
    z-index: 5;
    width: 100%;
    top: 0px;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.1s ease;
          &:hover {
            color: rgb(54, 212, 138);
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.info {
        // border: 2px solid black;
        flex-basis: 450px;
        padding: 1rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
        }
        a {
          color: white;
          background-color: rgb(54, 212, 138);
          padding: 0.25rem 0.5rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin: 2rem 0;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      div.img-area {
        // border: 2px solid red;
        flex-basis: 500px;
        img {
          width: 100%;
        }
      }
    }

    section.about-me {
      background-color: rgb(202, 248, 223);
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;
      section.description {
        width: 50%;
        div.progress {
          border: 1px cadetblue solid;
        }
        h2 {
          text-align: center;
          margin-bottom: 1.5rem;
          font-size: 2rem;
        }
        .skill-descriptions {
          margin: 0.5rem 0;
          .skill-description {
            display: flex;
            flex-wrap: nowrap;

            .skill-main-title {
              flex: 1 1 200px;
              display: flex;
              align-items: center;
              justify-content: center;
              h3 {
                font-size: 1.25rem;
                display: inline;
                margin: 0;

                padding: 0.2rem;
                background-color: rgba(177, 255, 229, 0.8);
                border-radius: 20px;
              }
            }
            .skill-more-information {
              flex: 1 1 400px;
              display: flex;
              align-items: center;

              // border: 1px solid red;
              p {
                display: inline-block;
                margin: 0.5rem;
              }
            }
          }
        }
        .my-skills-group {
          text-align: center;
          margin: 1rem 0;
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      section.table {
        display: flex;
        margin: 0 0;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        flex: 8 1 600px;

        table {
          border-collapse: collapse;

          tr {
            // background-color: rgba(255, 255, 255, 0.1);
            --bs-table-bg: none;
            border-bottom: 2px solid gray;
            transition: all 0.2s ease-out;
            &:hover {
              background-color: rgb(202, 248, 223);
            }
          }
          td {
            padding: 1rem;
          }
        }
      }
      section.picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2 1 500px;
        position: relative;
        padding: 2rem 0rem;
        img {
          width: 90%;
          position: relative;
          z-index: 4;
        }

        div.greenRect1 {
          width: 30vw;
          height: 90vh;
          border: 10px solid rgb(202, 248, 223);
          transform: rotate(-90deg) translate(-50%, 0);

          position: absolute;
          z-index: -1;
        }
        div.greenRect2 {
          width: 10vw;
          height: 120vh;
          border: 10px solid rgb(202, 248, 223);

          transform: rotate(-90deg) translate(10%, -30%);

          position: absolute;
          z-index: -1;
        }
        div.greenRect3 {
          width: 10vw;
          height: 70vh;
          border: 10px solid rgb(202, 248, 223);
          transform: translate(-190%, 10%);
          // border: 1px solid red;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
    }
  }
}

@media screen and (max-width: 1161px) {
  body {
    main {
      section.about-me {
        section.description {
          width: 80%;
        }
      }
      section.resume {
        section.picture {
          img {
            width: 70%;
          }
          // div.greenRect1,
          // div.greenRect2,
          // div.greenRect3 {
          //   display: none;
          // }
        }
        section.table {
          transform: scale(1.2);
          margin: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body {
    nav {
      // 避免繼續占空間 黏住
      position: static;
      ul {
        flex-direction: column;
      }
    }
  }
}
