<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>彈跳球</title>
    <meta name="author" content="Onini" />
    <link rel="stylesheet" href="styles/style.css" />
    <style>
      #myCanvas {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <canvas id="myCanvas" width="1000px" height="600px"></canvas>
    <script src="./app.js"></script>
  </body>
</html>
